* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 --primary-color: #fff2f8;
 --secondary-color: #024e76;
 --tertiary-color: #c5c98f;
}

body {
    font-family:'Roboto', sans-serif; /*Google Font designed by Christian Robertson*/
    background-color: var(--secondary-color);
}

header{
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/pexels-pixabay-220067.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    text-decoration: none;
    color: whitesmoke;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px rgb(74, 74, 74);
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-wrap: wrap;
}

header nav {
 margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: inherit;
  }

  header nav ul li a:hover {
     color: var(--primary-color);
     border-radius: 15px;
     background-color: rgba(14, 15, 14, 0.5);
  } 

  .hero {
    background-image: url("../images/pexels-pixabay-220067.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    color: var(--tertiary-color)
  }

  .hero h2 {
    font-style: italic;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }

  .About-Me-Section {
    font-size: 30px;
    text-align: center;
    padding: 60px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

.About-Me h3 {
    text-align: center;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    color: var(--secondary-color);
    text-shadow: rgba(0, 0, 0, 1.0);
  }

.About-Me p {
   line-height: 1.3;
   color: var(--tertiary-color);
   width: 80%;
   font-size: 20px;
   padding-top: 20px;
   text-align: center;
   margin: 0 auto;
   padding-bottom: 20px;
}

.Body-Of-Work-Section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
    background-color: var(--tertiary-color);
    padding: 60px;
    font-size: 30px;
}

.Body-Of-Work h3 {
    text-align: center;
    margin: 0 auto;
    padding: 30px 10px 30px 10px;
    font-size: 35px;
    display: block;
    width: 300px;
    color: var(--secondary-color);
    font-weight: bold;
}

.Body-Of-Work ul {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin: 0 auto;
   width: 80%;
   padding-bottom: 20px;
   font-weight: bold;
   font-size: 20px;
}

.Body-Of-Work ul li {
   width: 300px;
   display: inline-block;
   padding: 20px;
   text-align: center;
}

.Body-Of-Work ul li a {
    text-decoration: none;
    color: #fff2f8;
}

.Body-Of-Work ul li a:visited {
    color:#fff2f8;
}

.Resume-Section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
    padding: 60px;
    background-color: var(--primary-color)
}

.Resume {
    margin: 0 auto;
}

.Resume h3 {text-align: center;
margin: 0 auto;
padding: 0px 10px 30px 10px;
font-size: 35px;
display: block;
width: 300px;
text-align: center;
color: var(--secondary-color);
}

.Resume ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.Resume ul li {
    width: 100%;
    text-align: center;
    color: var(--tertiary-color);
}

.Resume ul li a {
    text-decoration: none;
    color: var(--tertiary-color)
}

.Resume ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 20px;
    background-color: rgba(14, 15, 14, 0.5);
    padding: 10px;
}

.Contact-Me-Section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
    padding: 60px;
}





